#carousel-custom {
    margin-top:  10px;
    width: 100%;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}
.carousel-control.left {
    background-image: none;
    width: 54px;
    height: 54px;
    top: 50%;
    left: 20px;
    margin-top: -27px;
    line-height: 54px;
    opacity: 1;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.carousel-control.right {
    background-image: none;
    width: 54px;
    height: 54px;
    top: 50%;
    right: 20px;
    margin-top: -27px;
    line-height: 54px;
    opacity: 1;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

body {
    display: flex;
    align-items: center;
    height: 100%;
    background: black;
    font: 14px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#carousel {
    //margin-top: -10px;
    //border: 1px solid blue;
}
#carousel div {
    text-align: center;
    width: 100px;
    height: 20px;
    float: left;
    position: relative;
    //border: 1px solid yellow;
}
#carousel div img {
    border: none;
    width: 100%;
    height: auto;
}
#carousel div span {
    display: none;
}
#carousel div:hover span {
    background-color: #333;
    color: #fff;
    display: inline-block;
    width: 100px;
    padding: 2px 0;
    margin: 0 0 0 -50px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    border-radius: 3px;
}
body {
    display: flex;
    align-items: center;
    height: 100%;
    background: black;
    font: 14px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#wrapper {
    background-color: #fff;
    width: 100%;
    height: 20%;
    position: absolute;
    // left: 0;
    // bottom: 0;
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

}
#carousel {
    //margin-top: -105px;
    //border: 1px solid blue;
}
#carousel div {
    text-align: center;
    width: 100px;
    height: 250px;
    float: left;
    position: relative;
    //border: 1px solid yellow;
}
#carousel div img {
    border: none;
    width: 100%;
    height: auto;
}
#carousel div span {
    display: none;
}
#carousel div:hover span {
    background-color: #333;
    color: #fff;
    display: inline-block;
    width: 100px;
    padding: 2px 0;
    margin: 0 0 0 -50px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    border-radius: 3px;
}
