// SASS Variables.
$text: #000000;
$link: #e34234;
$link-hover: #ba160c;
$background: #00356B;

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 90%;
  background: $background;
  top: 15%;

}

.text {
	position: absolute;
	top: 39%;
	right: 50%;
	transform: translate(50%,-50%);
	color: $text;
	max-width: 50%;
	font-family: 'Arial', sans-serif;
}

h1 {
	font-size: 2.25em;
	font-weight: 700;
	letter-spacing: -1px;
}

a,
a:visited {
	color: $link;
	transition: 0.25s;
}

a:hover,
a:focus {
	color: $link-hover;
}

